$color_principal: #02A99F;
$color_secundario: #666469;
$color_contenedor: #D9D9D9;
$fuente: 'Montserrat', sans-serif;

//Tamaño Telefono en Horizontal o Tablet Pequeña//@at-root




//Tablets//
@media screen and (min-width: 767px){

}


//Pantallas Computadora
@media screen and (min-width:950px) and (max-width:1300px){
    .Eleginos{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $color_contenedor;
        margin: 30px;
        margin-right: 90px;
        border-radius: 19px;
        padding-top: 10px;
        h2{
            font-size: 20px;
            color: $color_principal;
            font-weight: 700;
            line-height: 20px;
        }
        p{
            font-size: 17px;
            text-align: center;
            margin: 20px;
            font-weight: 700;
            line-height: 19px;

        }
    }
    .carta {
        position: relative;
        width: 350px;
        height: 380px;
        margin: 90px;
        
    }
    .carta .back .link a {
        color: #000000;
        margin-bottom: 0;
        font-size: 15px;
        padding: 0;
    }
    
    .carta .back h3 {
        font-size: 25px;
        margin-top: 0px;
        letter-spacing: 2px;
    }
    .carta .back p {
        font-size: 14px;
    } 
    .links_a{
        color: rgb(8, 8, 8);
        font-weight: 700;
        font-size: 10px;
        line-height: 9px;
        text-align: end;
        margin-left: 400px;
        margin-right: 10px;
        li{
            list-style: none;
        }
    }
    .links_a:hover{
        color: #02A99F;
    }
    .links_ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }
    .frase{
        font-size: 10px;
        text-align: center;
        color: $color_principal;
        font-weight: 700;
        text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    }
    
    .titulo_links{
        font-size: 12px;
        margin: 0%;
        font-weight: 700;
        margin-left: 400px;
        margin-right: 10px;
        padding: 0px;
        color: $color_principal;
        display: flex;
        justify-content: flex-end;
    
    }
}
